In [33]:
import pandas as pd
import numpy as np

In [34]:
memepool = pd.read_csv("mempool.csv")

In [35]:
memepool.head()

,tx_id,fee,weight,parents
0,2e3da8fbc1eaca8ed9b7c2db9e6545d8ccac3c67deadee...,452,1620,NaN
1,79c51c9d4124c5cbb37a85263748dcf44e182dff83561f...,682,1136,6eb38fad135e38a93cb47a15a5f953cbc0563fd84bf1ab...
2,b0ef627c8dc2a706475d33d7712209ec779f7a8302aaea...,226,900,NaN
3,8c25f9be93990b96e8bc363778d6debee6867c7d73cefa...,258,1032,NaN
4,edc82751537be6afcb21c0229d8d20916d8e742a363ab2...,452,1616,NaN

In [36]:
#index_names = memepool[ memepool["tx_id"]==memepool["tx_id"][0] ].index

#memepool.drop(index_names, inplace = True)

In [37]:
#memepool["fee"]

In [38]:
np.isnan(memepool["parents "][0])

True

In [39]:
P = pd.DataFrame(memepool.loc[(memepool["tx_id"] == "6eb38fad135e38a93cb47a15a5f953cbc0563fd84bf1abdec578c2af302e10bf")])
print(P)

                                                  tx_id  fee  weight parents
1683  6eb38fad135e38a93cb47a15a5f953cbc0563fd84bf1ab...  286    1132      NaN

In [40]:
memepool['parents '].isnull().sum()

3214

In [41]:
for i in range(1,20):
    print(memepool['parents '][i])

6eb38fad135e38a93cb47a15a5f953cbc0563fd84bf1abdec578c2af302e10bf
nan
nan
nan
edc82751537be6afcb21c0229d8d20916d8e742a363ab235b5556c5fa698cf4f
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

In [42]:
memepool=memepool.sort_values(by=['fee'],ascending=False)

In [43]:
max_block_weight = 4000000 

opt_list=[]
opt_wt=0
opt_fees=0

In [45]:


for i in memepool:
    
    if memepool["tx_id"] not in opt_list:
        
        if opt_wt < max_block_weight:

            opt_fees += memepool["fee"]
            opt_wt += memepool["weight"]

            if np.isnan(memepool["parents "][0])!=True:


                P = pd.DataFrame(memepool.loc[(memepool["tx_id"] == memepool["parents "])])
                opt_fees+=P["fee"]
                opt_wt+=P["weight"]
                opt_list.append(memepool["parents "])
                opt_list.append(memepool["tx_id"])



            else:

                opt_list.append(memepool["tx_id"])

In [196]:
#a=np.array(opt_list)

In [197]:
#a.shape

In [96]:

#opt_list = [i.split(" ") for i in opt_list]

In [47]:
dfObj = pd.DataFrame(opt_list)

In [212]:

#opt_list = [i.split(" ") for i in dfObj]

In [208]:
#opt_list

[['2e3da8fbc1eaca8ed9b7c2db9e6545d8ccac3c67deadee95db050e41c1eedfc0']]

In [219]:
#dfObj.iloc[0][dfObj.columns]

1

In [65]:
final=str(opt_list[0]).split()

In [246]:
type(opt_list[0])

pandas.core.series.Series

In [71]:
final = [i for i in final if i[0]!='.']

In [76]:
final_list=str(opt_list[0]).replace(" ","").split('\n')

In [94]:
final_list = final_list[0:-1]

In [99]:
final_list[0][0:-1]

'266059f0495cf66d1864359dda816eb7189b9d9a3a9cd9dc50..'

In [91]:
dfObj = pd.DataFrame(final_list) 
pd.set_option('display.max_colwidth', None)

In [92]:
with open("block.txt", "w") as output:
    output.write(str(final_list[0:-1]))

In [93]:
from IPython.display import display, HTML
display(HTML(dfObj.to_html()))